.page.theme_light {
  --accent-color: #ff8dcb;
  --color-hover: rgba(53, 52, 48, 0.4);
  --text-color: #353430;
  --title-color: #ffc2e6;
  --image-fon: url(/images/cover-image-light.png);
  --decorated: none;
  --color-botton: #353430;
  --text-accent-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-accent-color: #353430;
    --accent-color: #ff8dcb;
    --color-hover: rgba(53, 52, 48, 0.4);
    --text-color: #353430;
    --title-color: #ffc2e6;
    --image-fon: url(/images/cover-image-light.png);
    --decorated: none;
    --color-botton: #353430;
  }
}
