.page {
  background-color: var(--fon-color);
  background-image: var(--image-fon);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 668px;
  height: 100vh;
  margin: auto;
}

.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px;
  position: relative;
}

.decorated {
  position: absolute;
  color: var(--accent-color);
  display: var(--decorated);
  text-transform: uppercase;
  top: 11px;
  right: 38px;
  justify-self: end;
}

.decorated::after {
  content: " ";
  border-radius: 50%;
  position: absolute;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  height: 9px;
  width: 9px;
  left: 43px;
  right: 8px;
  top: 7px;
}

.decorated-zone::after {
  position: absolute;
  align-self: end;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--color-botton);
  border-left: 1px solid var(--color-botton);
  margin-block-end: 10px;
  margin-inline-start: 10px;
}

.decorated-zone::before {
  position: absolute;
  align-self: stretch;
  justify-self: end;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--color-botton);
  border-right: 1px solid var(--color-botton);
  margin-block-start: 10px;
  margin-inline-end: 10px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0.1px 12px;
  color: var(--color-botton);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-botton);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-botton);
  pointer-events: none;
}

.title {
  text-shadow: 4px 4px 0 #ff0070;
  line-height: 95.7px;
  color: var(--title-color);
  align-self: end;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.cover {
  align-self: center;
}

main {
  margin-top: 30px;
  display: grid;
  padding: 10px;
  color: var(--text-color);
  gap: 30px;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.text-shadow:hover {
  border: none;
  border-bottom: 1px solid var(--text-color);
}

.text-shadow:focus {
  outline: none;
}

.text-shadow:focus-visible {
  outline: var(--text-color) solid 1px;
}

.font-style {
  font-weight: normal;
}

.content-header {
  color: var(--color-botton);
  font-size: 18px;
  padding: 0px 0 10px 0;
}

.text {
  color: var(--text-color);
  margin: 10px 0 20px;
}

.title-decor {
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  font-size: 18px;
  margin: 10px 0;
}

.text-more {
  margin-bottom: 20px;
}

.card-images .title-decor {
  margin: 0 0 10px;
}

.card-images {
  padding: 0px 0 31px;
}

.block {
  inline-size: 100%;
  block-size: 100%;
  background-size: cover;
  object-position: center;
  object-fit: cover;
}

.images {
  display: grid;
  justify-items: start;
  gap: 10px;
}

footer {
  min-height: 668px;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.title-footer {
  text-shadow: 2px 2px 0 #ff0070;
  align-self: center;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-content: start;
    align-items: start;
    padding: 0;
  }

  .cover {
    justify-self: end;
    width: 48.7%;
  }

  .decorated-zone::after {
    margin-block-end: 20px;
    margin-inline-start: 20px;
  }

  .decorated-zone::before {
    margin-block-start: 20px;
    margin-inline-end: 20px;
  }

  .decorated {
    top: 21px;
    right: 48.1px;
  }

  .card {
    display: grid;
    padding: 10px;
  }

  .content-card {
    display: grid;
    grid-template-columns: 30vw 1fr;
    gap: 27px;
  }

  .content-header {
    width: 30vw;
    padding: 10px 0 10px 0;
  }

  .dinamic-section .text {
    margin: 0 0 20px;
  }

  .card-images {
    margin: 20px 10px 0;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    list-style-type: none;
    margin: 20px 0;
  }

  .block:nth-child(1) {
    grid-column: span 2;
  }

  .block:nth-child(2) {
    grid-row: span 2;
    object-fit: cover;
  }

  .block:nth-child(3) {
    object-fit: cover;
    grid-row: span 2;
  }

  .block:nth-child(5) {
    grid-column: span 2;
  }

  footer {
    padding: 20px 20px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
  }

  .header__theme-menu {
    margin: 0 0 0 22px;
    align-self: start;
    justify-self: center;
  }

  .title {
    font-size: clamp(9.8125rem, 6.0365rem + 5.9vw, 13.5rem);
  }

  .cover {
    margin: 17px 0 0;
    width: 48.9%;
  }

  .content-card {
    grid-template-columns: 30.1vw 1fr;
  }

  .dinamic-section {
    display: grid;
  }

  .dinamic-section div {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
  }

  div .text-card {
    display: flex;
    flex-direction: column;
  }

  .title-footer {
    align-self: center;
  }
}
