/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--image-fon);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 668px;
  height: 100vh;
  margin: auto;
}
.overlay {
  background-color: var(--overlay);
}
.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
}

.REC {
  position: absolute;
  color: var(--accent-color);
  display: var(--rec);
}
.REC::after {
  content: " ";
  border-radius: 50%;
  position: absolute;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  height: 9px;
  width: 9px;
  left: 43px;
  right: 8px;
  top: 7px;
}

.decorated-zone::after {
  position: absolute;
  align-self: end;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--color-botton);
  border-left: 1px solid var(--color-botton);
}
.decorated-zone::before {
  position: absolute;
  align-self: stretch;
  justify-self: end;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--color-botton);
  border-right: 1px solid var(--color-botton);
}
.header__theme-menu {
  display: grid;
}
.header__theme-menu-list {
  display: grid;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0.1px 12px;
  color: var(--color-botton);
}
.header__theme-menu-button_active {
  border: 1px solid var(--color-botton);
  pointer-events: none;
}

.title {
  text-shadow: 4px 4px 0 #ff0070;
  line-height: 95.7px;
  color: var(--title-color);
  align-self: start;
}
main {
  padding: 10px;
  color: var(--text-color);
}
.text-shadow {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}
.text-shadow:hover {
  border: 1px solid;
}
.text-shadow:focus-visible {
}
.regular {
  font-weight: normal;
}

h2 {
  color: var(--color-botton);
  font-size: 18px;
}

p {
  color: var(--text-color);
}
h3 {
  font-size: 18px;
  margin: 10px 0;
}
.cover-h3 {
  margin: 0;
  align-self: start;
}
.title-decor {
  color: var(--text-accent-color);
  background-color: var(--accent-color);
}
.five {
  margin-bottom: 20px;
}

.card-images {
  padding: 20px 0 31px;
}

footer {
  background-color: var(--fon-color);
  min-height: 668px;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title-footer {
  text-shadow: 2px 2px 0 #ff0070;
  align-self: center;
}
